<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.plantilla "${i18n('header.title')}">    

<h1>${i18n("header.title")}</h1>
<form method="post" enctype="multipart/form-data" action="/api/incidencias/1/archivos">
    Please specify file to upload: <input type="file" name="upfile"><br />
    <input class="btn btn-default" type="submit" value="Subir">
    <textarea class="editor" rows="10"></textarea>
</form>
<#--
<#if frontArticle??>

<div class="jumbotron">
    <h1>
        <a href="/article/${frontArticle.id}">${frontArticle.title}</a>    
    </h1>  
    <p>${frontArticle.postedAt?date}</p>  
    <p><#noescape>${frontArticle.content}</#noescape></p>
</div>
</#if>

<hr/>

<#if olderArticles??>

<#list olderArticles as article>
<h3>
    <a href="/article/${article.id}">${article.title}</a>    
</h3>  
<p>${article.postedAt?date}</p>  
</#list>

</#if>
-->

</@layout.plantilla>